<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD - Playground</title>

    <%- include('assets/includes/header'); %>
  </head>
  <body>
    <div class="container">
      <%- include('assets/includes/nav-top'); %>

      <div class="jumbotron" align="center">
        <div class="404">
          <h1>Página não encontrada!</h1>
          <h3><a href="/">voltar</a></h2>
        </div>
      </div>
    </div>
  </body>
</html>
