<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD - Playground</title>

    <%- include('assets/includes/header'); %>
  </head>
  <body>
    <div class="container">
      <%- include('assets/includes/nav-top'); %>


    </div>
  </body>
</html>
