<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link <% if(page == 'home') { %> <%='nav-link active'%> <% } %>" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if(page == 'users-list') { %> <%='nav-link active'%> <% } %>" href="/users">Ususarios</a>
        </li>
      </ul>
